#top-carousel{
	height: 330px;
	width: 100%;
	max-height: 330px;
}

.carousel-prev,
.carousel-next{
	padding: 0;
	width: 30px;
	height: 30px;
}

.carousel-next{
	margin-left: 20px;
}

.carousel-prev .m-icon,
.carousel-next .m-icon{
	width: 20px;
	height: 20px;
	margin-top: 4px;
}

.carousel-control-btns{
	width: 100%;
	text-align: center;
	position: relative;
	top: -40px;
}

.slide-info-container{
	position: absolute;
	color: white;
	margin-left: 30px;
}

.slide-info-container .caption{
	font-size: 8rem;
	font-family: MariupolBold;
	margin-top: 60px;
}

.slide-info-container .description{
	font-size: 8rem;
	font-family: MariupolMedium;
	margin-top: 20px;
	line-height: 9rem;
}

.slide-info-container button{
	margin-top: 30px;
}

.slide-info-container button .m-icon{
	position: relative;
	top: 7px;
	left: 4px;
}

.carousel-control-btns .std-btn .mdi{
	font-size: 20px;
	line-height: 30px;
}