@media (max-width: 1200px){
	.close-popup{
		left: 100%;
		margin-left: -50px;
	}

}

@media (max-width: 992px){
	#top-carousel{
		display: none;
	}

	.rating-item .stats,
	.rating-item .timestamp{
		text-align: left;
	}

	.rating-item .stats{
		margin-top: 10px;
	}

	.news-item-big,
	.news-item{
		margin-bottom: 40px;
	}

	.news-item-big .description{
		margin-top: -210px;
	}

	.news-cover{
		width: 100%;
		height: auto;
	}

	.footer-link{
		display: inline-block;
	}

	nav.main,
	.top-btn-group{
		display: none;
	}

	.popup{
		top: -100% !important;
		height: 100% !important;
		overflow-y: scroll;
	}

	.popup.active{
		top: 0% !important;
	}

	.popup .block-title:last-of-type{
		margin-top: 30px;
	}

	button.menu, button.close{
		display: block;
	}

	.mobile-menu{
		display: block;
	}

	.close-popup .m-icon{
		width: 48px;
		height: 48px;
	}

	.search .input{
		width: 100%;
    	margin-left: 0%;
	}

	.news-item-big {
	    height: 400px;
	}

	#news.block .col-12:first-of-type{
		margin-bottom: 30px;
	}

	.ng-item .timestamp{
		text-align: left;
		margin-top: 5px;
	}

	#profile .new-review-big-icon{
		display: none;
	}

	.r-screen{
		display: none;
	}

	.r-item{
		min-height: auto;
	}


}

@media (max-width: 768px){

	#rating .order-field{
		text-align: left;
	}

	#news-list .nl-title{
		margin-top: 15px;
	}

	#single-article .timestamp{
		text-align: left;
		position: relative;
		top: -30px;
	}

	#single-article .block-title {
	    margin-bottom: 20px;
	}

	/* V 1.1.1 */
	
	/*html{
		font-size: 5px;
	}*/

	/*.news-item-big .description{
		height: 320px;
		margin-top: -320px;
	}*/

	/*#stats .line-item{
		font-size: 5rem;
	}*/

	/*#stats .stats-foot{
		font-size: 4.5rem;
	}*/

	/*.input.image .placeholder{
		font-size: 3rem;
	}*/

	.logo img{
		width: 100%;
	}

	/*.review-item .timestamp{
		font-size: 3.5rem;
	}*/

	/*.rating-item .Profile-info{
		font-size: 4.6rem;
	}*/

	/*.tag{
		margin-bottom: 10px;
		padding: 7px 10px;
		font-size: 4.1rem;
	}*/

	/*.review-item {
	    margin-bottom: 35px;
	}*/

	/*.ng-item .Profile-info {
    	font-size: 4.5rem;
    }*/

    /*.ng-item{
    	padding-bottom: 27px;
    }*/

    /*#profile .category,
    #profile .site-title,
    #profile .site-description{
		margin-bottom: 15px;
    }
*/
    /*#profile .Profile-name {
   		font-size: 6rem;
   	}*/

   	/*#profile .site {
	    font-size: 5.6rem;
	}

	.popup .block-title.main{
		font-size: 6rem;
	}

	.new-user .input {
	    width: 100%;
	}

	.new-user-form{
		margin-bottom: 40px;
	}*/
}
