@media (max-width: 1200px){
	.close-popup{
		left: 100%;
		margin-left: -50px;
	}

}

@media (max-width: 992px){
	#top-carousel{
		display: none;
	}

	.rating-item .stats,
	.rating-item .timestamp{
		text-align: left;
	}

	.rating-item .stats{
		margin-top: 10px;
	}

	.news-item-big,
	.news-item{
		margin-bottom: 40px;
	}

	.news-item-big .description{
		margin-top: -210px;
	}

	.news-cover{
		width: 100%;
		height: auto;
	}

	.footer-link{
		display: inline-block;
	}

	nav.main,
	.top-btn-group{
		display: none;
	}

	.popup{
		top: -100% !important;
		height: 100% !important;
		overflow-y: scroll;
	}

	.popup.active{
		top: 0% !important;
	}

	.popup .block-title:last-of-type{
		margin-top: 30px;
	}

	button.menu, button.close{
		display: block;
	}

	.mobile-menu{
		display: block;
	}

	.close-popup .m-icon{
		width: 48px;
		height: 48px;
	}

	.search .input{
		width: 100%;
    	margin-left: 0%;
	}

	.news-item-big {
	    height: 400px;
	}

	#news.block .col-12:first-of-type{
		margin-bottom: 30px;
	}

	.ng-item .timestamp{
		text-align: left;
		margin-top: 5px;
	}

	#profile .new-review-big-icon{
		display: none;
	}

	.r-screen{
		display: none;
	}

	.r-item{
		min-height: auto;
	}


}

@media (max-width: 768px){
	#rating .order-field{
		text-align: left;
	}

	#news-list .nl-title{
		margin-top: 15px;
	}

	#single-article .timestamp{
		text-align: left;
		position: relative;
		top: -30px;
	}

	#single-article .block-title {
	    margin-bottom: 20px;
	}
}
