#profile{
	margin-top: 30px;
}

#profile .screen{
	width: 100%;
}

#profile .Profile-name{
	font-size: 7rem;
	margin-top: 15px;
}

#profile .site{
	font-size: 6rem;
}

#profile .site .m-icon{
	width: 14px;
	left: 2px;
}

#profile .count-views{
	padding-left: 10px;
	font-size: 4rem;
}

#profile .stats{
	text-align: left;
	margin-top: 10px;
}

#profile .total-rating{
	margin-left: 10px;
	font-size: 5rem;
}

#profile .profile-views{
	margin-top: 10px;
	font-size: 5rem;
}

#profile .category,
#profile .site-title,
#profile .site-description{
	margin-bottom: 10px;
	font-size: 5rem;
}

#profile .site-description span{
	line-height: 8rem;
}

.bottom-border{
	border-bottom: 1px solid #bbb;
	margin-top: 30px;
	margin-bottom: 30px;
}

#profile .add-review-form{
	background-color: #e0e0e0;
	padding: 25px;
}

#profile .add-review-form .input{
	width: 100%;
}

#profile .rat-btn{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-position: center;
	background-size: 80% auto;
	background-repeat: no-repeat;
	transition-duration: .3s;
}

#profile .rat-btn.good{
	background-image: url('../imgs/icons/thumb-up-outline.png');
}

#profile .rat-btn.bad{
	background-image: url('../imgs/icons/thumb-down-outline.png');
}

#profile .rat-btn.bad.active{
	background-image: url('../imgs/icons/thumb-down-red.png');
}

#profile .rat-btn.good.active{
	background-image: url('../imgs/icons/thumb-up-green.png');
}

#profile .img-radio{
	margin-top: -30px;
	padding-bottom: 20px;
}

#profile .new-review p{
	font-size: 4rem;
	line-height: 7rem;
}

.send-btn .arrow-right{
	display: none;
}

.send-btn:hover .arrow-right{
	display: inline-block;
}

.send-btn:hover .arrow-right-red{
	display: none;
}

#profile .reviews .block{
	border-bottom: 0;
	background-color: #eee;
	padding-top: 15px;
	padding-bottom: 15px;
}

#profile .review-item .comments{
	padding: 30px;
	margin-top: 0px;
}

#profile .review-item .comments .bottom-border{
	margin-top: -20px;
}

#profile .review-item .comments .block-title{
	font-family: MariupolMedium;
	font-weight: normal;
	margin-top: -20px;
	margin-bottom: 15px;
}

.review-img{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

#profile .comments{
	display: none;
}

#profile .close-comments{
	position: absolute;
	margin: -18px 0px 0px 488px;
}

/*COMMENT ITEM*/
.comment-item{
	margin-bottom: 20px;
}

.comment-item .avatar-container{
	text-align: center;
}

.comment-item .avatar{
	width: 50px;
	height: 50px;
	background-color: #ddd;
	text-align: center;
	font-size: 11rem;
	line-height: 50px;
	font-family: MariupolBold;
	display: inline-block;
}

.comment-item .head{
	font-size: 5rem;
	margin-bottom: 7px;
}

.comment-item .body{
	font-size: 4rem;
	line-height: 6rem;
	margin-bottom: 7px;
}

.comment-item .foot{
	font-size: 3rem;
	margin-bottom: 7px;
}

.comments-paginator{
	text-align: right;
}

.cp-counter{
	font-size: 5rem;
	margin-right: 15px;
	position: relative;
    top: -5px;
}

.prev-comments-page,
.next-comments-page{
	width: 40px;
	height: 40px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80% auto;
	transition-duration: .2s;
}

.next-comments-page{
	background-image: url('../imgs/icons/arrow-right-red.png');
}

.prev-comments-page{
	background-image: url('../imgs/icons/arrow-left-red.png');
}

.next-comments-page:hover{
	background-image: url('../imgs/icons/arrow-right.png');
}

.prev-comments-page:hover{
	background-image: url('../imgs/icons/arrow-left.png');
}

.new-comment{
	margin-top: 30px;
}

.new-comment .input{
	width: 100%;
}

#profile .number span{
	left: 0;
	padding-left: 4px;
}





