#single-article{
	margin-top: 30px;
}

#single-article article p{
	margin-top: 30px;
	line-height: 7rem;
	font-size: 5rem;
	color: inherit;
}

#single-article .timestamp{
	margin-top: 20px;
	text-align: right;
}

#single-article article .thumbnail img{
	width: 100%;
	height: auto;
}

#single-article article{
	margin-bottom: 30px;
}

#single-article .block{
	border: 0;
}

.c-timestamp{
	font-size: 4rem;
	font-family: MariupolMedium;
	text-align: right;
}

#single-article .comment-item{
	background-color: #eee;
	padding: 15px;
}

#single-article .std-pagination{
    margin-top: -10px;
}

#single-article .block-title.main{
	font-size: 7rem;
}

#single-article .new-comment{
	margin-bottom: 20px;
	padding: 20px;
	background-color: #eee;
	margin-top: 0;
}