@font-face{
	src: url('../fonts/segoe-regular.ttf');
	font-family: SegoeRegular;
}

*{
	outline: none !important;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: SegoeRegular;
	box-sizing: border-box;
}

html{
	font-size: 3.5px;
	--yd-txt-color: #212121;
	--yd-main-color: #e8ad16;
}

body{
	background: #e6e6e6;
	font-size: 4rem;
	color: var(--yd-txt-color);
}

li{
	list-style: none;
}

h1{
	font-size: 9rem;
}

h2{
	font-size: 7rem;
}

h3{
	font-size: 5rem;
}

h4{
	font-size: 4rem;
}

h5{
	font-size: 3rem;
}

h6{
	font-size: 2rem;
}

.profile-link{
	color: var(--yd-main-color);
}

.profile-link:hover{
	text-decoration: underline;
	color: var(--yd-main-color);
}

.page-title {
    font-size: 7rem;
    margin-bottom: 20px;
}

.profile-name{
	font-size: 6rem;
	color: var(--yd-txt-color);
}

.profile-name:hover{
	color: var(--yd-main-color);
}

/* HEADER */

header{
	height: 55px;
	width: 100%;
	padding-top: 10px;
}

nav.main{
	margin-top: 5px;
}

nav.main a{
	font-size: 4.5rem;
	color: var(--yd-txt-color);
	margin-right: 10%;
	display: inline-block;
}

nav.main a:hover{
	color: var(--yd-main-color);
	text-decoration: none;
}

.search{
	width: 100%;
	text-align: right;
}

.search input{
	width: 80%;
	position: relative;
	z-index: 5;
}

.search input:focus{
	border-color: transparent;
}

.search-result{
	width: 80%;
	margin-left: 20%;
	position: relative;
	z-index: 4;
	background: #4b4b4b;
	padding: 10px;
	top: -10px;
	border-radius: 6px;
	color: #ddd;
	display: none;
}

.search-result a{
	display: block;
	margin-top: 10px;
	text-align: left;
	transition-duration: .3s;
	color: var(--yd-main-color);
}

/* BIG SITE PRESENT */

.big-site-present{
	width: 100%;
	height: 400px;
	background-color: #eee;
	background: url('../imgs/present.png');
	background-size: cover;
	background-position: center;
	text-align: center;
	margin-bottom: 30px;
	color: #eee;
}

.big-site-present .sitename{
	margin: 0;
	padding-top: 150px;
	font-size: 9.5rem;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.big-site-present .circ{
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 5px solid var(--yd-main-color);
	border-radius: 100%;
	position: absolute;
	margin: 138px 0px 0px -100px;
	z-index: 1;
}

.big-site-present .sub-sitename{
	display: inline-block;
	width: 250px;
	margin-top: 30px;
	font-size: 4.5rem;
	font-weight: bold;
}

.big-site-present.mini{
	height: 150px;
}

.big-site-present.mini .sitename{
	padding-top: 52px;
}

.big-site-present.mini .sub-sitename{
	display: none;
}

.big-site-present.mini .circ{
	margin-top: 40px;
}


/* SIDEBAR */

.sidebar-section{
	margin-bottom: 30px;
	width: 100%;
}

.sidebar-section-title{
	margin-bottom: 15px;
	font-size: 5.5rem;
}

/* #LAST-PROFILES */

#last-profiles li{
	margin-bottom: 7px;
}

#last-profiles li:before{
	content: "-";
	font-size: 6rem;
	margin-right: 5px;
}

#last-profiles li a{
	font-size: 4.5rem;
	color: var(--yd-txt-color);
}


/* #LAST-COMMENTS */

#last-comments{
	width: 80%;
}

.comment-item{
	margin-bottom: 15px;
	font-size: 4rem;
}

.comment-head{
	font-weight: bold;
	margin-bottom: 4px;
}

.comment-foot{
	margin-top: 4px;
}

/* PAGINATION */

.pagination{
	width: 100%;
	text-align: center;
	display: block;
}

.pagination .pagination-item{
	min-width: 33px;
	margin-left: 5px;
	font-size: 4.5rem;
}

.pagination .pagination-item.current-item{
	cursor: default;
	border-color: #212121;
}

.pag-prev{}

.pag-next{}

.pagination .dots{
	margin-left: 5px;
	font-size: 5rem;
	font-weight: bold;
	position: relative;
	top: 4px;
}

/* FOOTER */

footer{
	margin-top: 40px;
	margin-bottom: 25px;
}

footer .copyright{
	font-size: 4.5rem;
}

.footer-links{
	width: 100%;
	text-align: right;
}

.footer-links a{
	text-decoration: underline;
	color: var(--yd-txt-color);
	font-size: 4.5rem;
}

.footer-links a:not(:first-of-type){
	margin-left: 10px;
}

.footer-links a:hover{
	text-decoration: none;
}

/* YELLOW DROPS FORMS */

.yd-input{
	padding: 7px 12px;
	background-color: #4b4b4b;
	color: #eee;
	border-radius: 6px;
	border: 2px solid transparent;
	transition-duration: .2s;
}

textarea.yd-input{
	height: 120px;
}

.yd-input:focus{
	border-color: var(--yd-main-color);
}

.yd-input::placeholder,
.yd-input::input-placeholder,
.yd-input::-webkit-input-placeholder,
.yd-input::-moz-placeholder,
.yd-input:-moz-placeholder,
.yd-input:-ms-input-placeholder{
	color: #eee;
}

.yd-btn{
	background-color: var(--yd-main-color);
	color: var(--yd-txt-color);
	font-size: 4rem;
	padding: 5px 7px;
	border-radius: 7px;
	transition-duration: .2s;
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
}

.yd-btn:hover{
	border-color: var(--yd-txt-color);
	text-decoration: none;
	color: var(--yd-txt-color);
}

.yd-btn-simple{
	background: transparent;
	padding: 6px;
	text-decoration: underline;
	border: 0;
	cursor: pointer;
	font-size: 4rem;
	color: var(--yd-txt-color);
	display: inline-block;
}

.yd-btn-simple:hover{
	text-decoration: none;
}
