.search .input{
	margin-top: 100px;
	width: 60%;
	margin-left: 20%;
}

.search .input input{
	font-size: 10rem;
    top: -40px;
}

.search .input .m-icon{
	width: 50px;
	height: 50px;
	top: -25px;
}

.search .result-container{
	
}