.articles{}

.articles .article-item{
	margin-bottom: 35px;
}

.articles .article-title{
	font-size: 6rem;
	font-family: var(--font-main-medium);
	color: var(--main-text-color);
	font-weight: normal;
	line-height: 12rem;
	margin: 0;
	margin-bottom: 5px;
}

.articles .article-title a{
	color: inherit;
}

.articles .article-title a:hover{
	text-decoration: none;
	color: var(--selected-text-color);
}

.articles .article-timestamp{
	font-size: 4rem;
	margin-bottom: 15px;
	display: none;
}

.articles .article-thumbnail{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.articles .article-excerpt{
	margin-bottom: 15px;
	line-height: 7.3rem;
}

.articles .article-footer{}

