*{
	margin: 0;
	padding: 0;
	outline: none;
}

li{
	list-style: none;
}

#content li{
	list-style: disc;
}

body{
	background-color: #eee;
}

.page{
	margin-top: 30px;
}

nav.main li .fa{
	position: absolute;
	margin: 3px 0 0 -30px;
}

#aside{
    position: fixed;
    background-color: #158CBA;
    color: white;
    top: 0;
    left: 0;
    width: 56px;
    height: 100%;
    border-right: 7px solid #127ba3;
    overflow: hidden;
    transition-duration: .3s;
    z-index: 100;
}

#aside:hover{
	width: 250px;
}

#aside li a{
    color: white;
    padding: 13px 0 15px 50px;
    width: 100%;
    display: block;
    transition-duration: .2s;
}

#aside li{
	list-style: none;
	width: 100%;
	min-width: 250px;
}

#aside li a:hover,
#aside li.active a{
	background: #127ba3;
	text-decoration: none;
}

.page-name{
	margin-top: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid #333;
	font-size: 30px;
}

.admin-panel-name{
	padding-left: 30px;
	margin: 30px 0 20px 0;
}

#content{
	background: #fff;
    min-height: 200px;
    /*max-height: 600px;*/
}

.a-panel-img{
	width: 100%;
	height: auto; 
	border: 1px solid #158CBA; 
	border-radius: 3px; 
	border-bottom-width: 4px;
}

.media-item{
	margin-bottom: 20px;
}

#img-view .modal-dialog{
	max-width: 100% !important;
	width: 800px;
}

#img-view .img-view-big-img{
	width: 100%
}

.quill-textarea{
	visibility: hidden;
	width: 1px;
	height: 1px;
}

.custom-file-label{
	overflow: hidden;
}

.danger-link{
	color: red;
}

#Profile-edit-page .danger-link{
	color: white;
}

.description-form{
	display: none;
}

button.menu{
    position: fixed;
    z-index: 200;
    color: #777;
    background: rgba(255, 255, 255, 0.7);
    padding: 15px;
    font-size: 30px;
    left: 100%;
    transform: translate(-125%, 25%);
    top: 0px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 3px 6px #aaa;
    display: none;
}

button.menu[data-menu-status="close"] .fa-times{
	display: none;
}

button.menu[data-menu-status="close"] .fa-bars{
	display: block;
}

button.menu[data-menu-status="open"] .fa-times{
	display: block;
}

button.menu[data-menu-status="open"] .fa-bars{
	display: none;
}

.mob-vert-space{
	margin: 15px 0;
}