*{
	margin: 0;
	padding: 0;
	outline: none;
}

li{
	list-style: none;
}

#content li{
	list-style: disc;
}

body{
	background-color: #eee;
}

.page{
	margin-top: 30px;
}

nav.main li .fa{
	position: absolute;
	margin: 3px 0 0 -20px;
}

#aside{
	position: fixed;
	background-color: #158CBA;
	color: white;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	border-right: 7px solid #127ba3;
}

#aside li a{
	color: white;
	padding: 15px 0 15px 50px;
	width: 100%;
	display: block;
	transition-duration: .2s;
}

#aside li{
	list-style: none;
	width: 100%;
}

#aside li a:hover{
	background: #127ba3;
	text-decoration: none;
}

.page-name{
	margin-top: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid #333;
	font-size: 30px;
}

.admin-panel-name{
	padding-left: 30px;
	margin: 30px 0 20px 0;
}

#content{
	background: #fff;
}

.a-panel-img{
	width: 100%;
	height: auto; 
	border: 1px solid #158CBA; 
	border-radius: 3px; 
	border-bottom-width: 4px;
}

.media-item{
	margin-bottom: 20px;
}

#img-view .modal-dialog{
	max-width: 100% !important;
	width: 800px;
}

#img-view .img-view-big-img{
	width: 100%
}

@media (max-width: 1650px){
	.page{
		margin-left: 200px;
	}
}

@media (max-width: 1250px){
	.page{
		margin-left: 250px;
	}
}

.danger-link{
	color: red;
}

#Profile-edit-page .danger-link{
	color: white;
}

.description-form{
	display: none;
}
